<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Body Mechanicc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Body Mechanic</h1>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('about') }}">About Us</a>
            <a href="{{ url_for('membership') }}">Membership</a>
            <a href="{{ url_for('service') }}">Services</a>
            <a href="{{ url_for('contact') }}">Contact</a>
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
        </nav>
    </header>

    <main>
        <div class="contact-container">
    <h2>Contact Us</h2>
    <form action="#" method="post" class="contact-form">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" placeholder="Your Name" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Your Email" required>

      <label for="message">Message</label>
      <textarea id="message" name="message" placeholder="Your Message" rows="5" required></textarea>

      <button type="submit">Submit</button>
    </form>
  </div>
    </main>
    </body>
</html>
